.container {
  width: min(100%, 1400px);
  margin: 0 auto;
}

.btn {
  padding: 12px 22px 12px 22px;
  border-radius: 100px 100px 100px 100px;
  cursor: pointer;
}

.font-web {
  font-family: "Alexandria", sans-serif;
  font-weight: 500;
}
